.masthead {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.5rem;
    }
  }
}
.masthead.small-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 10rem;
  height: 15rem;
}
