<!-- Footer -->
<footer class="footer">
  <a class="navbar-brand" href="/"><img width="200" src="{{ '/assets/svg/blue_Web_Logo.svg' | url }}"></a>
  <nav class="social">
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">webkit-wpe mailing list</a></li>
      <li><a href="#">#wpe</a> (Freenode)</li>
      <li><a href="#">#wpe:matrix.org</a> (Matrix)</li>
    </ul>
  </nav>
  <p class="text-muted small mb-0">Copyright &copy; 2018-2021 The WPE WebKit Team | Hosting kindly provided by <a href="https://www.igalia.com">Igalia</a>.</p>
</footer>

  <script src="{{ '/vendor/jquery/jquery.js' | url }}"></script>
  <script src="{{ '/vendor/bootstrap/js/bootstrap.js' | url }}"></script>