<!-- Footer -->
<footer class="footer">
  <a class="navbar-brand" href="/"><img width="200" src="{{ '/assets/svg/blue_Web_Logo.svg' | url }}"></a>
  <div class="container text-center">
    <p class="text-muted small mb-0">Copyright &copy; 2018-2020 The WPE WebKit Team | Hosting kindly provided by <a href="https://www.igalia.com">Igalia</a>.</p>
  </div>
</footer>

  <script src="{{ '/vendor/jquery/jquery.js' | url }}"></script>
  <script src="{{ '/vendor/bootstrap/js/bootstrap.js' | url }}"></script>