<footer class="global">
	<b></b>
	<div>
		<a href="{{ '/' | url }}" class="igalia logo home"><img src="{{ '/assets/img/logo-white.svg' | url }}" alt="WPE"></a>
		<ul>
			<li>Connect on <a rel="me" href="https://floss.social/@WPEWebKit">Mastodon</a>, <a href="https://twitter.com/WPEWebKit">Twitter</a></li>
			<li>mailing list: <a href="https://lists.webkit.org/mailman/listinfo/webkit-wpe">webkit-wpe</a></li>
			<li>OFTC: <a href="https://webchat.oftc.net/?channels=wpe">#wpe</a></li>
			<li>Matrix: <a href="https://matrix.to/#/#wpe:matrix.org">#wpe:matrix.org</a></li>
		</ul>
		<ul>
			<li>Copyright &copy; 2018-{% currentYear %} The WPE WebKit Team</li>
			<li>Hosting kindly provided by <a href="https://www.igalia.com">Igalia</a>.</li>
		</ul>
	</div>
</footer>
