<nav class="global">
<div>
<a class="igalia logo home" href="{{ '/' | url }}"><img src="{{ '/assets/img/logo-blue.svg' | url }}" alt=""></a>
<ul>
<li class="currentPage">
<a class="nav-link" href="{{ '/' | url }}">Home</a>
</li>
<li>
<a class="nav-link" href="{{ '/learn/' | url }}">Learn & Discover</a>
</li>
<li>
<a class="nav-link" href="{{ '/blog/' | url }}">Blog</a>
</li>
<!--li revisiting, this seems redundant because we added download/code/learn and disover>
<a class="nav-link" href="{{ '/developers' | url }}">Developers</a>
</li -->
<li>
<a class="nav-link" href="{{ '/code' | url }}">CODE</a>
</li>
<li>
<a class="cta btn" href="">DOWNLOAD</a>
</li>
</ul>
</div>
</nav>
