<nav class="global">
	<div>
		<a class="igalia logo home" href="{{ '/' | url }}"><img src="{{ '/assets/img/logo-blue.svg' | url }}" alt="WPE"></a>
		<ul class="{{ page.url | topLevel }} off">
		{%- for link in menu -%}
			{%- assign pagedir = page.url | topLevel -%}
			<!-- link․url: '{{ link.url }}'   pagedir: '{{ pagedir }}' -->
			<li{% if link.url == pagedir %} class="currentPage"{% endif %}>
			<a class="{{ link.class | default: 'nav-link' }}" href="{{ link.url | url | default: '#' }}">{{ link.title }}</a>
			</li>
		{%- endfor -%}
		</ul>
		<a href="#" class="burger"></a>
	</div>
</nav>
