---
layout: page
---
<style>
header.page h1 {
	margin-bottom: 0.33em;
	line-height: 1;
}
header.page time {
	font-size: 1.25em;
	opacity: 0.67;
}
header.page .btn-xl {
	padding: 1em 2em;
  margin-left: 0.5em;
}
</style>
<div itemscope itemtype="http://schema.org/TechArticle">
<meta itemprop="creativeWorkStatus" content="Published">
<meta itemprop="isAccessibleForFree" content="True">
<meta itemprop="publisher" content="WPE Team">
<meta itemprop="author" content="WPE Team">
<meta itemprop="url" content="{{ page.url | htmlBaseUrl: site.base_url }}">

<header class="page full-bleed">
 <h1 itemprop="headline">{{ title }}</h1>
 {% if data.dateless != 'true' %}
   <meta itemprop="datePublished" content="{{ page.date | dateString }}">
   <time itemprop="dateCreated">{{ page.date | date: "%e %B %Y" }}</time>
 {% endif %}
  {% if download %}
  <a class="btn btn-xl btn-secondary mt-3" href="{{ download }}">Download</a>
  {% elsif package and version %}
  <a class="btn btn-xl btn-secondary mt-3" href="{{ site.release_dir | append:'/' | append: package | append: '-' | append: version | append: '.tar.xz' }}">Download</a>
  {% endif %}
</header>

<div itemprop="articleBody">

{{ content }}

{% if author %}
{% include _authors/{{ author }}.html %}
{% endif %}

</div>
