---
layout: page
---
<style>
header.page h1 {
	margin-bottom: 0.33em;
	line-height: 1;
}
header.page time {
	font-size: 1.25em;
	opacity: 0.67;
}
</style>
<div itemscope itemtype="http://schema.org/TechArticle">
<meta itemprop="creativeWorkStatus" content="Published">
<meta itemprop="isAccessibleForFree" content="True">
<meta itemprop="publisher" content="WPE Team">
<meta itemprop="author" content="WPE Team">
<meta itemprop="url" content="{{ site.base_url }}{{ page.url | url }}">

<header class="page full-bleed">
 <h1 itemprop="headline">{{ title }}</h1>
 {% if data.dateless != 'true' %}
   <meta itemprop="datePublished" content="{{ page.date | dateString }}">
   <time itemprop="dateCreated">{{ page.date | date: "%e %B %Y" }}</time>
 {% endif %}
  {% if download %}
  <a class="btn btn-xl btn-secondary mt-3" href="{{ download }}">Download</a>
  {% elsif package and version %}
  <a class="btn btn-xl btn-secondary mt-3" href="{{ site.release_dir | append:'/' | append: package | append: '-' | append: version | append: '.tar.xz' | url }}">Download</a>
  {% endif %}
</header>

<section class="content-section bg-light small-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto lead text-left" itemprop="articleBody">

        {{ content }}

        <p class="text-right"><a class="btn btn-primary" href="{{ '/' | url }}"><i class="icon-home mr-1"></i> Home</a></p>
      </div>
    </div>
  </div>
</section>

</div>
