<section class="resources">

<header class="full-bleed dotsep">
<h2><a href="">Resources</a></h2>
<img src="{{ '/assets/img/illustration-resources.svg' | url }}" alt="" class="decoration">
</header>
<div>

{% if resources %}

<ul class="gallery c{{ resources|size }}">
{% for item in resources %}
<li>
<h3><a href="{{ item.url | url}}">{{item.title}}</a></h3>
<p>{{item.text | markdown}}</p>
</li>
{% endfor %}
</ul>

{% else %}

<ul class="gallery c5">
<li>
<h3><a href="">Guides and sample code</a></h3>
<p>Get details on implementing web technologies with guides, reference, and sample code.</p>
</li>
<li>
<h3><a href="">Videos</a></h3>
<p>Watch and learn from our engineers as they show how to bring the latest web technolgoies to your websites on Safari.</p>
</li>
<li>
<h3><a href="">Forums</a></h3>
<p>Open standards with great longevity allows lots more things to benefit from the same investments.</p>
</li>
<li>
<h3><a href="">Downloads</a></h3>
<p>The number of people with the basic skills to build things with web technologies is massive.</p>
</li>
<li>
<h3><a href="">Source</a></h3>
<p>The number of people with the basic skills to build things with web technologies is massive.</p>
</li>
</ul>

{% endif %}

</div>
</section>
