name: deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Node modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-${{ runner.os }}-
            npm-
      - name: Install Node modules
        run: npm install
      - name: Eleventy
        run: |
          npx eleventy --output='_site/' --pathprefix='/'
      - name: Deploy
        run: |
          mkdir -p ~/.ssh
          chmod 0700 ~/.ssh
          cat > ~/.ssh/key <<EOF
          ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          EOF
          cat > ~/.ssh/known_hosts <<EOF
          ${{ secrets.DEPLOY_SSH_KNOWN_HOSTS }}
          EOF
          chmod 0600 ~/.ssh/{key,known_hosts}
          rsync -e "ssh -p ${{ secrets.DEPLOY_REMOTE_PORT }} -i '$HOME/.ssh/key'" \
            -azz --info=stats2 _site/ \
            '${{ secrets.DEPLOY_REMOTE_USER }}@${{ secrets.DEPLOY_REMOTE_HOST }}:${{ secrets.DEPLOY_REMOTE_PATH }}'
